<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <!-- clearing cache before loading -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <!-- end -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title"
        content="CarShaerpas is a digital first advertising platform born in a dealership and molded by technology">
    <meta property="og:description" content="Are you a car dealer? What are you waiting for? Join Us!">
    <meta property="og:type" content="article">
    <meta property="og:url" content="carsherpas.com">
    <meta property="og:image" content="https://carsherpas-html-css.netlify.app/Assets/logo.png">
    <meta name="twitter:image" content="https://carsherpas-html-css.netlify.app/Assets/logo.png">
    <link rel="shortcut icon" type="image/x-icon" href="/static/Assets/favicon.ico">
    <link rel="stylesheet" href="static/CSS/base.css">
    <link rel="stylesheet" href="static/CSS/sidebar.css">
    <link rel="stylesheet" href="static/CSS/navbar.css">
    <title>Home</title>
    <link rel="stylesheet" href="static/CSS/home.css">
    <link rel="stylesheet" href="static/Load/load.css">

    <link rel="stylesheet" href="static/CSS/light-mode.css">
{% include 'html-css-js/clear-cache.html' %}
    <script src="static/JS/lottie.js"></script>
</head>

<script src="static/Load/load.js"></script>

<body class="light">
    <!-- <div id="load">
        <lottie-player id="player" src="static/Load/load-car.json" background="transparent" speed="1.5" loop autoplay>
        </lottie-player>
        <p>LOADING</p>
    </div> -->
    <div id="page">
        <section id="hero" class="">
            <nav id="navbar">
                <img src="static/Assets/Products/nav-bg.png" alt="">
                <a class="nav-item" href="/">
                    <img class="" id="nav-logo" src="static/Assets/logo.svg" alt="">

                </a>
                {% include 'html-css-js/mid-nav.html' %}
                <div class="nav-item" onclick="modeToggle()">
                    <img id="nav-mode" src="static/Assets/sun.svg" alt="">
                </div>
            </nav>
            <div id="sidebar-container">
                <div id="sidebar">
                    <div id="side-back">
                        <img src="static/Assets/side-back.svg" alt="">
                    </div>
                    <nav id="nav-bar">
                        <div class="nav-item">
                            <a href="/">
                                <img src="static/Assets/home-icon.svg" alt="">
                                <p>Home</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/spotlight">
                                <img src="static/Assets/spotlight-icon.svg" alt="">
                                <p>Spotlight</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/products">
                                <img src="static/Assets/products-icon.svg" alt="">
                                <p>Products</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/services">
                                <img src="static/Assets/services-icon.svg" alt="">
                                <p>Services</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/studio">
                                <img src="static/Assets/studio-icon.svg" alt="">
                                <p>Studio</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/news">
                                <img src="static/Assets/news-icon.svg" alt="">
                                <p>News</p>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
            <div id="hamburger">
                <img class="darkmode-item" src="static/Assets/hamburger.svg" alt="">
                <img class="lightmode-item" src="static/light-img/light-hamburger.svg" alt="">
            </div>
            <img id="grid" src="static/Assets/square-grid.png" alt="">
            <!-- <img src="static/Assets/y_cube.png" alt="" id="abs_cube">
            <img src="static/Assets/sparkle_1.png" alt="" id="abs_sparkle_1">
            <img src="static/Assets/sparkle_2.png" alt="" id="abs_sparkle_2">
            <img src="static/Assets/b_ring.png" alt="" id="abs_ring"> -->
            <h1 id="mainTitle">
                CarSherpas is a marketing and lead generation platform for car dealerships.
            </h1>

            <section class="hero-video">

                <video poster="static/videos/{{videosJSON['video-1']['poster']}}" src="{{fun()}}" width="60%;"
                    preload="none" controls></video>
            </section>

        </section>
        <section id="incrementSec">
            <div class="incrementUnit">
                <h2 id="inc1">+45%</h2>
                <p>Web Traffic</p>
            </div>
            <div class="incrementUnit">
                <h2 id="inc2">+32%</h2>
                <p>Leads</p>
            </div>
            <div class="incrementUnit">
                <h2 id="inc3">+27%</h2>
                <p>Appointments</p>
            </div>
        </section>
        
        
        <!-- <img class="sm_pic" src="static/Assets/Home/social_media_illustration.svg" alt=""> -->
        <section id="review-sec">
            <!-- <img class="darkmode-item waves1" src="static/Assets/waves-1.svg" alt="">
            <img class="lightmode-item waves1" src="static/light-img/waves-1.svg" alt=""> -->
            <div id="rev-title">
                <h1>Don't take our word for it</h1>
                <p>Trust our customers</p>
            </div>
            <!-- <img id="rev-img" src="static/Assets/reviews.png" alt=""> -->

            <div class="reviews-container  ">
                <img id="blur_img" src="static/Assets/Home/blur_circle.svg" alt="">

                <div class="rev rev-1">
                    <div class="backdrop"></div>
                    <div class="rev-content ">
                        <div class="rev-avatar ">
                            <img src="static/img/{{review1['photoName']}}" alt="">
                        </div>
                        <div class="rev-name">
                            {{review1['name']}}
                        </div>
                        <div class="rev-occupation">
                            {{review1['designation']}}
                        </div>
                        <div class="rev-body ">
                            {{review1['reviewBody']}}
                        </div>
                    </div>
                </div>

                <div class="rev rev-2">
                    <div class="backdrop"></div>
                    <div class="rev-content ">
                        <div class="rev-avatar ">
                            <img src="static/img/{{review2['photoName']}}" alt="">
                        </div>
                        <div class="rev-name">
                            {{review2['name']}}
                        </div>
                        <div class="rev-occupation">
                            {{review2['designation']}}
                        </div>
                        <div class="rev-body ">
                            {{review2['reviewBody']}}
                        </div>
                    </div>
                </div>

                <div class="rev rev-3">
                    <div class="backdrop"></div>
                    <div class="rev-content ">
                        <div class="rev-avatar ">
                            <img src="static/img/{{review3['photoName']}}" alt="">
                        </div>
                        <div class="rev-name">
                            {{review3['name']}}
                        </div>
                        <div class="rev-occupation">
                            {{review3['designation']}}
                        </div>
                        <div class="rev-body ">
                            {{review3['reviewBody']}}
                        </div>
                    </div>
                </div>
            </div>

        </section>


    </div>
</body>
<script src="static/JS/switch-theme.js"></script>
<script src="static/JS/sidebar.js"></script>
<script src="static/JS/home.js"></script>
<script src="static/JS/increment.js"></script>

</html>