<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/base.css">
    <link rel="stylesheet" href="static/CSS/sidebar.css">
    <link rel="stylesheet" href="static/CSS/navbar.css">
    <title>Products</title>
    <link rel="stylesheet" href="static/CSS/products.css">
    <link rel="stylesheet" href="static/CSS/light-mode.css">
</head>
<style>
</style>
<link rel="stylesheet" href="static/Load/load.css">
    
    <script src="static/JS/lottie.js"></script>

<script src="static/Load/load.js"></script>
<body class="light">
    <div id="load">
        <lottie-player id="player" src="static/Load/load-car.json"  background="transparent"  speed="1.5"   loop autoplay></lottie-player>
        <p>LOADING</p>
    </div>
    <div id="page">
        <section id="hero" class="">
            <nav id="navbar">
                <img src="static/Assets/Products/nav-bg.png" alt="">
                <a class="nav-item" href="/">
                    <img class="" id="nav-logo" src="static/Assets/logo.svg" alt="">
                    
                </a>
                {% include 'html-css-js/mid-nav.html' %}
                <div class="nav-item" onclick="modeToggle()">
                    <img id="nav-mode" src="static/Assets/sun.svg" alt="">
                </div>
            </nav>
            <div id="sidebar-container">
                <div id="sidebar">
                    <div id="side-back">
                        <img src="static/Assets/side-back.svg" alt="">
                    </div>
                    <nav id="nav-bar">
                        <div class="nav-item">
                            <a href="/">
                                <img src="static/Assets/home-icon.svg" alt="">
                                <p>Home</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/spotlight">
                                <img src="static/Assets/spotlight-icon.svg" alt="">
                                <p>Spotlight</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/products">
                                <img src="static/Assets/products-icon.svg" alt="">
                                <p>Products</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/services">
                                <img src="static/Assets/services-icon.svg" alt="">
                                <p>Services</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/studio">
                                <img src="static/Assets/studio-icon.svg" alt="">
                                <p>Studio</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/news">
                                <img src="static/Assets/news-icon.svg" alt="">
                                <p>News</p>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
            <div id="hamburger">
                <img class="darkmode-item"  src="static/Assets/hamburger.svg" alt="">
                <img class="lightmode-item"  src="static/light-img/light-hamburger.svg" alt="">
            </div>
            <img id="grid" src="static/Assets/square-grid.png" alt="">
            <!-- <img id="waves" src="static/Assets/Products/waves.svg" alt=""> -->
            <h1>Our Products</h1>
            <div id="products-container" class="">
                <div class="product ">
                    <h3>Rainier Bundle <br> <span style="color:#5982c2;position: relative; top: 10px;">$6200</span></h3>
                    
                    <div class="prod-feature">
                        <img src="static/Assets/Products/hollow-circle-tick.svg" alt="">
                        <p>125 CRM Leads</p>
                    </div>
                    <div class="prod-feature">
                        <img src="static/Assets/Products/hollow-circle-tick.svg" alt="">
                        <p>160 Chats</p>
                    </div>
                    <div class="prod-feature">
                        <img src="static/Assets/Products/hollow-circle-tick.svg" alt="">
                        <p>1000 Monthly Clicks</p>
                    </div>
                    <div class="prod-feature">
                        <img src="static/Assets/Products/hollow-circle-tick.svg" alt="">
                        <p>1 Text Blast</p>
                    </div>
                    <div class="prod-feature">
                        <img src="static/Assets/Products/hollow-circle-tick.svg" alt="">
                        <p>1 Video Stream</p>
                    </div>
                    
                    <a class="choose-plan-btn" href="/contactus">
                        <img src="static/Assets/Products/just_tick.svg" alt="">
                    </a>
                </div>
                <div class="product main_product">
                    <h3>Base Camp <br> <span style="color:#5982c2;position: relative; top: 10px;">$2900</span></h3>
                    <div class="prod-feature">
                        <img src="static/Assets/Products/hollow-circle-tick.svg" alt="">
                        <p>50 CRM Leads
                        </p>
                    </div>
                    <div class="prod-feature">
                        <img src="static/Assets/Products/hollow-circle-tick.svg" alt="">
                        <p>50 Chats
                        </p>
                    </div>
                    <div class="prod-feature">
                        <img src="static/Assets/Products/hollow-circle-tick.svg" alt="">
                        <p>500 Clicks</p>
                    </div>
                    <div class="prod-feature">
                        <img src="static/Assets/Products/hollow-circle-tick.svg" alt="">
                        <p>1 Video Stream</p>
                    </div>
                    
                    <a class="choose-plan-btn" href="/contactus">
                        <img src="static/Assets/Products/just_tick.svg" alt="">
                    </a>
                </div>
                <div class="product ">
                    <h3>K2 Bundle <br> <span style="color:#5982c2;position: relative; top: 10px;">$9800</span></h3>
                    <div class="prod-feature">
                        <img src="static/Assets/Products/hollow-circle-tick.svg" alt="">
                        <p>300 CRM Leads </p>
                    </div>
                    <div class="prod-feature">
                        <img src="static/Assets/Products/hollow-circle-tick.svg" alt="">
                        <p>300 Chats</p>
                    </div>
                    <div class="prod-feature">
                        <img src="static/Assets/Products/hollow-circle-tick.svg" alt="">
                        <p>3000 Bi-Monthly Clicks</p>
                    </div>
                    <div class="prod-feature">
                        <img src="static/Assets/Products/hollow-circle-tick.svg" alt="">
                        <p>2 Text Blasts</p>
                    </div>
                    <div class="prod-feature">
                        <img src="static/Assets/Products/hollow-circle-tick.svg" alt="">
                        <p>2 Video Streams</p>
                    </div>
                    
                    <a class="choose-plan-btn" href="/contactus">
                        <img src="static/Assets/Products/just_tick.svg" alt="">
                    </a>
                </div>
            </div>

            <div id="better-sec">
                <h1>Want something even better?</h1>
                <a href="/spotlight">
                    <p>CHECK OUT THE SPOTLIGHT PROGRAM</p>
                    <div id="arrow"></div>
                </a>
            </div>
           
        </section>
    </div>
</body>
<script src="static/JS/sidebar.js"></script>
<script src="static/JS/switch-theme.js"></script>
</html>