<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/base.css">
    <link rel="stylesheet" href="static/CSS/sidebar.css">
    <link rel="stylesheet" href="static/CSS/navbar.css">
    <title>Services</title>
    <link rel="stylesheet" href="static/CSS/services.css">
</head>
<body>
    <div id="page">
        <section id="hero">
            <nav id="navbar">
                <a class="nav-item" href="/">
                    <img id="nav-logo" src="static/Assets/logo.svg" alt="">
                </a>
                <div id="mid-nav">
                    <a class="nav-item" href="/spotlight">Spotlight</a>
                    <a class="nav-item" href="/products">Products</a>
                    <a class="nav-item" href="/services">Services</a>
                    <a class="nav-item" href="/studio">Studio</a>
                    <a class="nav-item" href="/news">News</a>
                </div>
                <a class="nav-item" href="/">
                    <img id="nav-mode" src="static/Assets/sun.svg" alt="">
                </a>
            </nav>
            <div id="sidebar-container">
                <div id="sidebar">
                    <div id="side-back">
                        <img src="static/Assets/side-back.svg" alt="">
                    </div>
                    <nav id="nav-bar">
                        <div class="nav-item">
                            <a href="/">
                                <img src="static/Assets/home-icon.svg" alt="">
                                <p>Home</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/spotlight">
                                <img src="static/Assets/spotlight-icon.svg" alt="">
                                <p>Spotlight</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/products">
                                <img src="static/Assets/products-icon.svg" alt="">
                                <p>Products</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/services">
                                <img src="static/Assets/services-icon.svg" alt="">
                                <p>Services</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/studio">
                                <img src="static/Assets/studio-icon.svg" alt="">
                                <p>Studio</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/news">
                                <img src="static/Assets/news-icon.svg" alt="">
                                <p>News</p>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
            <div id="hamburger">
                <img src="static/Assets/hamburger.svg" alt="">
            </div>
            <img id="grid" src="static/Assets/square-grid.png" alt="">
            <img src="static/Assets/" alt="">
            <img id="blob-1" src="static/Assets/Services/blob-1.png" alt="">
            <img id="blob-2" src="static/Assets/Services/blob-2.png" alt="">
            <div id="blur"></div>
            <div id="main-content">
                <h1>OUR ARENA</h1>
                <div id="sharp-line"></div>
                <div id="marquee-clone" class="">
                    <div id="mov-1" class="mov-container x">
                        <span class="icon-circle">
                            <img src="static/Assets/Services/icon-1.svg" alt="">
                        </span>
                        <span class="icon-circle">
                            <img src="static/Assets/Services/icon-2.svg" alt="">
                        </span>
                        <span class="icon-circle">
                            <img src="static/Assets/Services/icon-3.svg" alt="">
                        </span>
                        <span class="icon-circle">
                            <img src="static/Assets/Services/icon-4.svg" alt="">
                        </span>
                        <span class="icon-circle">
                            <img src="static/Assets/Services/icon-5.svg" alt="">
                        </span>
                        <span class="icon-circle">
                            <img src="static/Assets/Services/icon-6.svg" alt="">
                        </span>
                        <span class="icon-circle">
                            <img src="static/Assets/Services/icon-7.svg" alt="">
                        </span>
                        <span class="icon-circle">
                            <img src="static/Assets/Services/icon-8.svg" alt="">
                        </span>
                    </div>
                    <div id="mov-2" class="mov-container x">
                        <span class="icon-circle">
                            <img src="static/Assets/Services/icon-1.svg" alt="">
                        </span>
                        <span class="icon-circle">
                            <img src="static/Assets/Services/icon-2.svg" alt="">
                        </span>
                        <span class="icon-circle">
                            <img src="static/Assets/Services/icon-3.svg" alt="">
                        </span>
                        <span class="icon-circle">
                            <img src="static/Assets/Services/icon-4.svg" alt="">
                        </span>
                        <span class="icon-circle">
                            <img src="static/Assets/Services/icon-5.svg" alt="">
                        </span>
                        <span class="icon-circle">
                            <img src="static/Assets/Services/icon-6.svg" alt="">
                        </span>
                        <span class="icon-circle">
                            <img src="static/Assets/Services/icon-7.svg" alt="">
                        </span>
                        <span class="icon-circle">
                            <img src="static/Assets/Services/icon-8.svg" alt="">
                        </span>
                    </div>
                    </div>
                </div>

            </div>
        </section>
        <section id="incrementSec">
            <div class="incrementUnit">
                <h2 id="inc1">+45%</h2>
                <p>Web Traffic</p>
            </div>
            <div class="incrementUnit">
                <h2 id="inc2">+32%</h2>
                <p>Leads</p>
            </div>
            <div class="incrementUnit">
                <h2 id="inc3">+27%</h2>
                <p>Appointments</p>
            </div>
        </section>

        <div class="mobile-design ">
            <div class="left">
                <h1>Automated Assistant</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div class="right">
                <img src="static/Assets/Services/mob-1.png" alt="">
            </div>
        </div>

        <div class="mobile-design d1">
            <div class="left">
                <h1>Automated Assistant</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>
            <div class="right">
                <img src="static/Assets/Services/mob-2.png" alt="">
            </div>
        </div>

        <img id="waves" src="static/Assets/waves-1.svg" alt="">

        <div id="wait-sec">
            <h1>What are you waiting for?</h1>
            <a href="/contactus">CONTACT US</a>
        </div>
    </div>
</body>
<script src="static/JS/sidebar.js"></script>
<script src="static/JS/increment.js"></script>
</html>