<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/base.css">
    <link rel="stylesheet" href="static/CSS/sidebar.css">
    <link rel="stylesheet" href="static/CSS/navbar.css">
    <title>Document</title>
    <link rel="stylesheet" href="static/CSS/spotlight_2.css">
    <link rel="stylesheet" href="static/Load/load.css">
    <link rel="stylesheet" href="static/CSS/light-mode.css">
    {% include 'html-css-js/clear-cache.html' %}
    <script src="static/JS/lottie.js"></script>
</head>
<script src="static/Load/load.js"></script>
<body class="light">
    <div id="load">
        <lottie-player id="player" src="static/Load/load-car.json"  background="transparent"  speed="1.5"   loop autoplay></lottie-player>
        <p>LOADING</p>
    </div>
    <div id="page">
        <section id="hero">
            <nav id="navbar">
                <img src="static/Assets/Products/nav-bg.png" alt="">
                <a class="nav-item" href="/">
                    <img id="nav-logo" src="static/Assets/logo.svg" alt="">
                </a>
                {% include 'html-css-js/mid-nav.html' %}
                <div class="nav-item" onclick="modeToggle()">
                    <img id="nav-mode" src="static/Assets/sun.svg" alt="">
                </div>
            </nav>
            <div id="sidebar-container">
                <div id="sidebar">
                    <div id="side-back">
                        <img src="static/Assets/side-back.svg" alt="">
                    </div>
                    <nav id="nav-bar">
                        <div class="nav-item">
                            <a href="/">
                                <img src="static/Assets/home-icon.svg" alt="">
                                <p>Home</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/spotlight">
                                <img src="static/Assets/spotlight-icon.svg" alt="">
                                <p>Spotlight</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/products">
                                <img src="static/Assets/products-icon.svg" alt="">
                                <p>Products</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/services">
                                <img src="static/Assets/services-icon.svg" alt="">
                                <p>Services</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/studio">
                                <img src="static/Assets/studio-icon.svg" alt="">
                                <p>Studio</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/news">
                                <img src="static/Assets/news-icon.svg" alt="">
                                <p>News</p>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
            <div id="hamburger">
                <img class="darkmode-item" src="static/Assets/hamburger.svg" alt="">
                <img class="lightmode-item"  src="static/light-img/light-hamburger.svg" alt="">
            </div>
            <img id="grid" src="static/Assets/square-grid.png" alt="">
            <h1 class="video1_title">{{videosJSON['video-2']['title']}}</h1>
            <video class="video video_1" poster="/static/videos/{{videosJSON['video-2']['poster']}}" src="/static/videos/{{videosJSON['video-2']['name']}}.mp4" preload="none" controls></video>
        </section>
        <div class="line_1"></div>

        <div class="row_video">
            <div class="row_element">
                <video class="video video_2" poster="/static/videos/{{videosJSON['video-3']['poster']}}" src="/static/videos/{{videosJSON['video-3']['name']}}.mp4" preload="none" controls></video>
            </div>
            <div class="row_element rw2">
                <h2>{{videosJSON['video-3']['title']}}</h2>
                <p>{{videosJSON['video-3']['description']}}</p>
            </div>
        </div>
        <div class="line_2"></div>
        <div class="row_video">
            <div class="row_element">
                <video class="video video_2" poster="/static/videos/{{videosJSON['video-4']['poster']}}" src="/static/videos/{{videosJSON['video-4']['name']}}.mp4" preload="none" controls></video>
            </div>
            <div class="row_element rw2">
                <h2>{{videosJSON['video-4']['title']}}</h2>
                <p>{{videosJSON['video-4']['description']}}</p>
            </div>
        </div>
        <h1 class="video4_title">{{videosJSON['video-5']['title']}}</h1>
        <video class="video video_3" poster="/static/videos/{{videosJSON['video-5']['poster']}}" src="/static/videos/{{videosJSON['video-5']['name']}}.mp4" preload="none" controls></video>
        

        <br><br><br><br>
    </div>


    
    
</body>
<script>
    var buy_url = "{{content[3]}}"
</script>
<script src="static/JS/sidebar.js"></script>
<script src="static/JS/spotlight_2.js"></script>
<script src="static/JS/switch-theme.js"></script>
</html>