<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/base.css">
    <link rel="stylesheet" href="static/CSS/sidebar.css">
    <link rel="stylesheet" href="static/CSS/navbar.css">
    <title>Document</title>
    <link rel="stylesheet" href="static/CSS/studio.css">
    <link rel="stylesheet" href="static/Load/load.css">
    
    <script src="static/JS/lottie.js"></script>
</head>
<script src="static/Load/load.js"></script>
<body>
    <div id="load">
        <lottie-player id="player" src="static/Load/load-car.json"  background="transparent"  speed="1.5"   loop autoplay></lottie-player>
        <p>LOADING</p>
    </div>
    <div id="page">
        <section id="hero">
            <nav id="navbar">
                <a class="nav-item" href="/">
                    <img id="nav-logo" src="static/Assets/logo.svg" alt="">
                </a>
                <div id="mid-nav">
                    <a class="nav-item" href="/spotlight">Spotlight</a>
                    <a class="nav-item" href="/products">Products</a>
                    <a class="nav-item" href="/services">Services</a>
                    <a class="nav-item" href="/studio">Studio</a>
                    <a class="nav-item" href="/news">News</a>
                </div>
                <a class="nav-item" href="/">
                    <img id="nav-mode" src="static/Assets/sun.svg" alt="">
                </a>
            </nav>
            <div id="sidebar-container">
                <div id="sidebar">
                    <div id="side-back">
                        <img src="static/Assets/side-back.svg" alt="">
                    </div>
                    <nav id="nav-bar">
                        <div class="nav-item">
                            <a href="/">
                                <img src="static/Assets/home-icon.svg" alt="">
                                <p>Home</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/spotlight">
                                <img src="static/Assets/spotlight-icon.svg" alt="">
                                <p>Spotlight</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/products">
                                <img src="static/Assets/products-icon.svg" alt="">
                                <p>Products</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/services">
                                <img src="static/Assets/services-icon.svg" alt="">
                                <p>Services</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/studio">
                                <img src="static/Assets/studio-icon.svg" alt="">
                                <p>Studio</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/news">
                                <img src="static/Assets/news-icon.svg" alt="">
                                <p>News</p>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
            <div id="hamburger">
                <img src="static/Assets/hamburger.svg" alt="">
            </div>
            <img id="grid" src="static/Assets/square-grid.png" alt="">
            <div id="hero-container" class="">
                <div id="top-hero">
                    <h1>We help you by bringing customers</h1>
                    <p>Get more leads and sell more cars by utilizing digital marketing to the fullest. </p>
                </div>
                <div id="bottom-hero" class="">
                    <div id="lottie-container" class="">
                        <lottie-player class="lottie-player " id="player" src="static/JS/red-car-animation.json"  background="transparent"  speed="1"   loop autoplay></lottie-player>
                    </div>
                </div>
            </div>
        </section>
        <div id="brand-sec" class="">
            <img src="static/Assets/Studio/nissan.png" alt="">
            <img src="static/Assets/Studio/bmw.png" alt="">
            <img src="static/Assets/Studio/honda.png" alt="">
        </div>


        















    



    <img class="waves" src="static/Assets/waves-1.svg" alt="" >

    <h1 id="achievements-heading">
        Our Achievements
    </h1>

    <div id="ach-section" class="">
        <img src="static/Assets/Studio/achievements-img.svg" alt="">
        <div class="ach-unit " id="ach-unit-1">
            <h1>Title</h1>
            <p>
                Subtitle
            </p>
        </div>
        <div class="ach-unit " id="ach-unit-2">
            <h1>Title</h1>
            <p>
                Subtitle
            </p>
        </div>
        <div class="ach-unit " id="ach-unit-3">
            <h1>Title</h1>
            <p>
                Subtitle
            </p>
        </div>
    </div>

    <div class="container">
        <div id="slider" class="img1">
            
            <span class="image-container">
                <img src="static/img/{{images[0]['img1']}}" alt="">
            </span>
            <span class="image-container">
                <img src="static/img/{{images[0]['img2']}}" alt="">
            </span>
            <span class="image-container">
                <img src="static/img/{{images[0]['img3']}}" alt="">
            </span>
            <span class="image-container">
                <img src="static/img/{{images[0]['img4']}}" alt="">
            </span>
        </div>
        <div class="slider-controls">
            <div class="left-arrow" onclick="moveLeft()">
                <img src="static/Assets/Studio/arrow.svg" alt="">
            </div>
            <div class="right-arrow" onclick="moveRight()">
                <img src="static/Assets/Studio/arrow.svg" alt=""></div>
        </div>
    </div>
    
    <div id="join-us-sec">
        <h1>Want to join us?</h1>
        <a href="/contactus">CONTACT US</a>
    </div>
    

    </div>
</body>
<script src="static/JS/sidebar.js"></script>
<script src="static/JS/studio.js"></script>
</html>