<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/CSS/base.css">
    <link rel="stylesheet" href="static/CSS/sidebar.css">
    <link rel="stylesheet" href="static/CSS/navbar.css">
    <title>Document</title>
    <link rel="stylesheet" href="static/CSS/studio.css">
    <link rel="stylesheet" href="static/Load/load.css">
    <link rel="stylesheet" href="static/CSS/light-mode.css">
    <script src="static/JS/lottie.js"></script>
</head>
<script src="static/Load/load.js"></script>
<body class="light">
    <!-- <div id="load">
        <lottie-player id="player" src="static/Load/load-car.json"  background="transparent"  speed="1.5"   loop autoplay></lottie-player>
        <p>LOADING</p>
    </div> -->
    <div id="page">
        <section id="hero">
            <nav id="navbar">
                <img src="static/Assets/Products/nav-bg.png" alt="">
                <a class="nav-item" href="/">
                    <img id="nav-logo" src="static/Assets/logo.svg" alt="">
                </a>
                <div id="mid-nav">
                    <a class="nav-item" href="/spotlight">Spotlight</a>
                    <a class="nav-item" href="/products">Products</a>
                    <a class="nav-item" href="/services">Services</a>
                    <a class="nav-item" href="/studio">Studio</a>
                    <a class="nav-item" href="/news">News</a>
                    <a class="nav-item" href="/contactus">Contact</a>
                </div>
                <div class="nav-item" onclick="modeToggle()">
                    <img id="nav-mode" src="static/Assets/sun.svg" alt="">
                </div>
            </nav>
            <div id="sidebar-container">
                <div id="sidebar">
                    <div id="side-back">
                        <img src="static/Assets/side-back.svg" alt="">
                    </div>
                    <nav id="nav-bar">
                        <div class="nav-item">
                            <a href="/">
                                <img src="static/Assets/home-icon.svg" alt="">
                                <p>Home</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/spotlight">
                                <img src="static/Assets/spotlight-icon.svg" alt="">
                                <p>Spotlight</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/products">
                                <img src="static/Assets/products-icon.svg" alt="">
                                <p>Products</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/services">
                                <img src="static/Assets/services-icon.svg" alt="">
                                <p>Services</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/studio">
                                <img src="static/Assets/studio-icon.svg" alt="">
                                <p>Studio</p>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="/news">
                                <img src="static/Assets/news-icon.svg" alt="">
                                <p>News</p>
                            </a>
                        </div>
                    </nav>
                </div>
            </div>
            <div id="hamburger">
                <img class="darkmode-item" src="static/Assets/hamburger.svg" alt="">
                <img class="lightmode-item"  src="static/light-img/light-hamburger.svg" alt="">
            </div>
            <img id="grid" src="static/Assets/square-grid.png" alt="">
            <div id="hero-container" class="">
                <div id="top-hero">
                    <h1>We help you by bringing customers</h1>
                    <p>Get more leads and sell more cars by utilizing digital marketing to the fullest. </p>
                </div>
                <div id="bottom-hero" class="">
                    <div id="lottie-container" class="">
                        <!-- <lottie-player class="lottie-player " id="player" src="static/JS/red-car-animation.json"  background="transparent"  speed="1"   loop autoplay></lottie-player> -->
                        <img src="{{hero_img_path}}" alt="">
                    </div>
                </div>
            </div>
        </section>
        


        















    



    <img class="darkmode-item waves" src="static/Assets/waves-1.svg" alt="">
    <img class="lightmode-item waves" src="static/Assets/waves_cut.svg" alt="">

    

    
    
    <div id="join-us-sec">
        <h1>Want to join us?</h1>
        <a href="/contactus">CONTACT US</a>
    </div>
    

    </div>
</body>
<script src="static/JS/sidebar.js"></script>
<script src="static/JS/studio.js"></script>
<script src="static/JS/switch-theme.js"></script>
</html>