<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="CarsherpasHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\python39\python.exe|c:\python39\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <staticContent>
            <clientCache cacheControlMode="DisableCache" />
        </staticContent>
        <caching enabled="false" enableKernelCache="false">
            <profiles>
            </profiles>
        </caching>
    </system.webServer>
  <appSettings>
    <!-- Required settings -->
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\carsherpas-flask" />

  </appSettings>
</configuration>
