@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* #page{
    overflow-x: hidden;
}
body{
    width: 100vw;
    overflow-x: hidden;
} */
#hero{
    display: block;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
}
#navbar{
    left: 50%;
    transform: translate(-50%, 0);
}
#page-label{
    font-family: 'Montserrat', sans-serif;
    font-size: 300px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #0C0C0C;
    position: absolute;
    top: -0.35em;
    left: -0.25em;
    z-index: -10;
}

.light #page-label{
    color: #e3e3e3;
}

#article-page{
    width: 80%;
    margin: 0 auto;
    height: fit-content;
    font-size: 10px;
    margin-top: 15em;
    max-width: 1000px;

}

#cover-img{
    width: 100%;
    position: relative;
    border-radius: 1.5em;
}

.date{
    font-weight: 500;
    font-size: 1.5em;
    color: #424242;
    margin-top: 2em;
}

.title{
    font-weight: 700;
    font-size: 4em;
    color: #e0e0e0;
    margin: 0.2em 0;
}
.article{
    font-size: 1.8em;
    color: #787878;
    line-height: 1.8em;
    margin-bottom: 10vh;
    letter-spacing: 0.05em;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}

.light .title{
    color: #212121;
}

.light .article *{
    color: #292929;
}

.article *{
    color: #b5b5b5;
}

@media screen and (min-width: 0px){
    #page-label{
        font-size: 120px;
    }
    
    .title{
        font-size: 2.5em;
        margin: 0.5em 0;
    }
}

@media screen and (min-width: 480px){
    #page-label{
        font-size: 140px;
    }

   
}

@media screen and (min-width: 800px){
    #page-label{
        font-size: 200px;
    }
    .title{
        font-size: 4em;
    }
    
}

@media screen and (min-width: 1024px){
    #page-label{
        font-size: 250px;
    }

    #article-page{
        width: 70%;
    
    }
    
    

    
}

@media screen and (min-width: 1400px){
    #page-label{
        font-size: 300px;
    }
    #article-page{
        width: 50%;
    }

    #cover-img{
        margin-top: 100px;
    }

   
}

@media screen and (min-width: 1600px){
   
}