@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

#bottom-img{
    width: 100%;
    bottom: 0;
    position: absolute;
    top: 60vh;
}

#page{
    outline: 5px solid #6936FB;
}

#content{
    position: absolute;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

#content > h1{
    font-weight: 500;
    font-size: 40px;
    margin-bottom: 50px;
}

.line{
    width: 80%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 10%;

}

.line > img{
    width: 30px;
}

.line > p{
    margin: 20px 20px;
}

@media screen and (min-width: 0px){
    #bottom-img{
        /* transform: translateY(40%); */
    }
}

@media screen and (min-width: 600px){
    #bottom-img{
        /* transform: translateY(60%); */
    }
}

@media screen and (orientation:landscape){
    #bottom-img{
        top: 25vh;
    }
}

@media screen and (orientation:portrait){
    #content{
        transform: scale(0.7);
    }
}