#page{
    display: none;
}

#load{
    width: 200px;
    height: 200px;
    /* border: red 4px solid; */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

#load > p{
    font-size: 13px;
    font-weight: 500;
    color: rgb(227, 227, 227);
    letter-spacing: 7px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(50% + 70px);
    left: calc(50% + 5px);
    font-family: 'Montserrat', sans-serif;
}

.loaded > #page{
    display: block;
}

.loaded > #load{
    display: none;
}

