{% extends 'layout.html' %}

{% block body %}
    <h1>Delete Articles</h1>
    <br>
    <!-- <ul>
    {% for article in articles %}
    <li>
        <ul>  
            <li>{{article.id}}</li>
            <li> <a href="/article/{{article.id}}"> {{article.title}}</a> </li>
            <li>{{article.description | safe}}</li>
            <li>{{article.date}}</li>
            <form action="/delete-article/{{article.id}}" method="POST">
                <input type="submit" value="Delete" style="color: red;font-weight: bold;" >
            </form>
        </ul> 
    </li>
    <hr>
    {% endfor %}
    </ul> -->


    <table class="table table-striped">
        <tr>
          <th>ID</th>
          <th>Title</th>
          
          <th>Date</th>
            <th></th>
          <th></th>
        </tr>
        {% for article in articles %}
          <tr>
            <td>{{article.id}}</td>
            <td>{{article.title}}</td>
            
            <td>{{article.date}}</td>
            <td><a class="text-decoration-none" href="/article/{{article.id}}">View Article</a></td>
            <td>
              <form action="/delete-article/{{article.id}}" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete" class="btn btn-danger">
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>


{% endblock %}